.token-table{
    border-collapse: collapse;
    width: 90%;
    margin-block: 2rem;

    margin-inline: auto;
    border-radius: 10px;
}

.token-info .warning{
    color: red;
    font-family: var(--para);
    text-align: center;
    margin-block-start: 2rem;
}

.token-table tr{
    text-align: center;
}

.token-table thead tr:first-child{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,170,1) 100%); 
    color:white;
}

.token-table tbody tr{
    background-color: white;
    border-bottom: 2px solid rgb(230, 230, 230);
}

.token-table tbody tr:hover{
    background-color: whitesmoke;
}

.token-table tr td,
.token-table tr th{
    padding: 0.5rem 0.4rem;
}

form{
    width: 90%;
    margin-inline:auto;
    margin-block: 1rem;
    text-align: center;
}

form input{
    border:3px solid aquamarine;
    margin-inline: 1rem;
    height: 1.5rem;
    border-radius: 5px;
}

form label{
    font-family: var(--heading);
    font-size: 16px;
}

@media (min-width: 900px){
    .token-table{
        width: 70%;
        margin-inline:auto;
    }
}