.token-table{
    border-collapse: collapse;
    width: 90%;
    margin-block: 2rem;
    margin-inline: auto;
    border-radius: 10px;
}

.token-info .warning{
    color: red;
    font-family: var(--para);
    text-align: center;
    margin-block-start: 2rem;
}

.token-table tr{
    text-align: center;
}

.token-table thead tr:first-child{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,170,1) 100%); 
    color:white;
}

.token-table tbody tr{
    background-color: white;
    border-bottom: 2px solid rgb(230, 230, 230);
}

.token-table tbody tr:hover{
    background-color: whitesmoke;
}

.token-table tr td,
.token-table tr th{
    padding: 0.5rem 0.4rem;
}

form{
    width: 100%;
    padding-block: 1.5rem;
    text-align: left;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,170,1) 100%); 
}

form input{
    height: 3rem;
    width: 75%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: whitesmoke;
    border: none;
}

form .search-bar{
    display: flex;
    justify-content: center;
    margin-block: 1rem;
    width: 90%;
    margin-inline: auto;
}

form .search-bar img{
    background: whitesmoke;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 2rem;
    padding: .5rem;
} 

form label{
    font-family: var(--heading);
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-align: left;
    margin-left: 10%;
}

@media (min-width: 900px){
    .token-table{
        width: 70%;
        margin-inline:auto;
    }

    form .search-bar{
        width: 70%;
        margin-inline: auto;
    }
    
    form label{
        margin-left: 22%;
    }
}