@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Oxygen:wght@400;700&family=Titillium+Web:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


:root{
    --table: 'Inconsolata', monospace;
    --heading: 'Oxygen', sans-serif;
    --para: 'Titillium Web', sans-serif;
}